.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: static;
    transform: none;
    justify-content: flex-start;
}

.left-side {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.left-side h1 {
    font-size: 2.3rem;
}

.left-side p {
    font-size: 1.3rem;
}

.right-side {
    width: 100%;
    gap: 2rem;
}

.free-trail {
    display: block;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 5rem;
}

.free-trail span {
    font-size: 1rem;
    text-align: center;
}

form{
    padding: 2rem;
}
form button{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}